:root {
    --board-dimension: 20;
    --square-size: 20px;

    --board-color: #D9D9D9;
    --red-player: #ff0000d2;
    --yellow-player: #ffff00d2;
    --blue-player: #0000ffd2;
    --green-player: #00f500d2;
}

.board {
    display: flex;
    flex-direction: column;
    background-color: var(--board-color);
    padding: 10px;
    border-radius: 10px;
    width: calc(var(--board-dimension) * var(--square-size) + 40px);
    margin: 0 auto;
}

.board-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.square {
    width: var(--square-size);
    height: var(--square-size);
    background-color: #ffffff;
    margin: 1px;
    display: flex;
    cursor: pointer;
}

.red {
    background-color: var(--red-player);
}

.yellow {
    background-color: var(--yellow-player);
}

.blue {
    background-color: var(--blue-player);
}

.green {
    background-color: var(--green-player);
}

.piece-tray {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.piece-tray-inner {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
    padding: 30px;
    border-radius: 10px;
    border-color: var(--board-color);
    border-style: solid;
    border-width: 4px;
}

.piece {
    padding: 10px;
    margin: 1px;
    display: flex;
}
